<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <h1>도서등록</h1>
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="name">도서명</label>
                    <span id="name" th:text="${book.name}"></span><br/>
                </div>
                <div class="form-group">
                    <label for="author">저자</label>
                    <span id="author" th:text="${book.author}"></span><br/>
                </div>
                <div class="form-group">
                    <label for="translator">번역</label>
                    <span id="translator" th:text="${book.translator}"></span><br/>
                </div>
                <div class="form-group">
                    <label for="publisher">출판사</label>
                    <span id="publisher" th:text="${book.publisher}"></span><br/>
                </div>
                <div class="form-group">
                    <label for="publishedDate">발행일</label>
                    <span id="publishedDate" th:text="${book.publishedDate}"></span><br/>
                </div>
            </form>
            <a href="/admin/list" role="button" class="btn btn-secondary">목록</a>
            <button type="button" class="btn btn-primary" id="btn-update">수정</button>
        </div>
    </div>
</div>
</html>