<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swan.book.domain.mapper.RentalMapper">

    <select id="selectTest" resultType="rental">
        SELECT ID
             ,NAME
        FROM books
    </select>

</mapper>